.expandme {
    width: 100%;
    background-color: transparent;
    height: 500px;
    overflow: hidden;

    position: relative;
}

.expandme .expand-toggle {
     position: absolute;
     bottom: 0;
     right: 0;
     height: 100px;

    margin-top: 50px;
     width: 10%;
     background: #d64639 url(../../jquery-expandme-master/jquery.expandme/img/up-down.png) no-repeat bottom right;
     color: #fff;
     overflow: hidden;


 }

.expand-toggle {
    float: right;
}



#trapezoid {
    border-bottom: 100px solid red;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    height: 0;
    width: 100px;
}

.expandme.active .expand-toggle:hover {
    background: #a63e31 url(../../jquery-expandme-master/jquery.expandme/img/up-down.png) no-repeat top right;
}

.expandme .expand-toggle:hover {
    background: #a63e31 url(../../jquery-expandme-master/jquery.expandme/img/up-down.png) no-repeat bottom right;
    text-decoration: none;
}

.expandme.active .expand-toggle {
    background: #a63e31 url(../../jquery-expandme-master/jquery.expandme/img/up-down.png) no-repeat top right;
}

.expandme .expand-toggle {
    vertical-align: bottom;
}

.expandme .expand-toggle span {
    padding-left: 10px;
    line-height: 40px;
}
